<!-- Rebar Section -->
    <section id="rebar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Rebar</h2>
                    <h3 class="section-subheading text-muted">sdfasdfasdf ipsum dolor sit aasasdfasdfasdfdfasdfasdfasmet consectetur.</h3>
                </div>
            </div>
            <div class="container text-center">
  <div class="row">
    <div class="col-6">
    REbar rebar rebar
    REbar rebar rebar
    REbar rebar rebar
    REbar rebar rebar
    REbar rebar rebar
    REbar rebar rebar
    REbar rebar rebar</div>
  </div>
</div>
        </div>
    </section>